.remediations .rem-c-description-list .rem-c-description-list__title {
  margin-bottom: 6px;
  font-size: var(--pf-global--FontSize--sm);
}
.remediations .rem-c-description-list .rem-c-description-list__description {
  font-size: var(--pf-global--FontSize--md);
}
.remediations .rem-c-description-list .rem-c-description-list__description--bold {
  font-size: var(--pf-global--FontSize--lg);
  font-weight: var(--pf-global--FontWeight--redhatfont--bold);
}
.remediations .rem-c-description-list .rem-c-description-list__description--withGutter * + * {
  margin-left: var(--pf-global--spacer--sm);
}
.remediations .rem-c-description-list .rem-c-description-list__description--needsPointer {
  cursor: pointer;
}
.remediations .rem-c-title-job-output {
  padding-bottom: var(--pf-global--spacer--lg);
}
.remediations .rem-c-job-output {
  max-height: 500px;
  padding: 0 !important;
  border-color: var(--pf-global--Color--light-300);
  border-width: 2px;
  border-style: solid solid none solid;
  white-space: pre-wrap;
}
.remediations .rem-c-job-output code:first-of-type {
  padding: var(--pf-global--spacer--sm);
  border-right: 2px solid var(--pf-global--Color--light-300);
  margin-right: var(--pf-global--spacer--sm);
}
.remediations .rem-c-job-output code:nth-of-type(2) {
  position: relative;
  top: var(--pf-global--spacer--sm);
  white-space: pre-wrap;
}
.remediations .rem-c-job-output__finished {
  border-bottom: 2px solid var(--pf-global--Color--light-300);
}
.remediations .rem-l-playbook-running {
  background: #f0f0f0;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-color: var(--pf-global--Color--light-300);
  border-width: 2px;
  border-style: none solid solid solid;
}
.remediations .pf-c-log-viewer__index {
  white-space: nowrap;
}
.remediations .rem-c-skeleton-table__footer > * {
  margin: 5px;
  margin: 0.3125rem;
}
.remediations .rem-m-align-right > * {
  margin-left: auto;
  margin-right: 0;
}
.remediations .ins-c-table__empty + .ins-c-table__toolbar {
  border-top: none;
}
:root {
  --ins-color--orange: #ec7a08;
}

.ins-c-table__empty {
  background: var(--pf-global--Color--light-100);
  border-bottom: 1px solid var(--pf-global--BorderColor--light-200);
  padding: 20px;
  padding: 1.25rem;
}

.ins-c-table__empty.is-centered {
  display: flex;
  justify-content: center;
}
:root {
  --ins-color--orange: #ec7a08;
}

:root {
  --ins-c-table-toolbar--PaddingVertical: 16px;
  --ins-c-table-toolbar--PaddingHorizontal: 32px;
}

.ins-c-table__toolbar, .ins-c-table__toolbar-results {
  background: var(--pf-global--Color--light-100);
  border-bottom: 1px solid var(--pf-global--BorderColor--light-200);
  padding: var(--ins-c-table-toolbar--PaddingVertical) var(--ins-c-table-toolbar--PaddingHorizontal);
}

.ins-c-table__toolbar.ins-m-footer {
  border-top: 1px solid var(--pf-global--BorderColor--light-200);
}

.ins-c-table__toolbar-results {
  color: var(--pf-global--Color--200);
}

.ins-c-table__toolbar-results-count + .ins-c-table__toolbar-results-selected {
  margin-left: 15px;
  margin-left: 0.9375rem;
  padding-left: 15px;
  padding-left: 0.9375rem;
  border-left: 2px solid var(--pf-global--BorderColor--light);
}

@media only screen and (max-width: 768px) {
  .ins-c-table__toolbar, .ins-c-table__toolbar-results {
    padding: 0 0;
  }
}
.remediations .rem-s-page-header .ins-c-skeleton {
  width: 100px;
  width: 6.25rem;
}
.remediations .pf-c-breadcrumb__item .ins-c-skeleton {
  width: 50px;
  width: 3.125rem;
}
.remediations .rem-c-card__system-reboot .ins-c-skeleton {
  width: 50px;
  width: 3.125rem;
}
.remediations .rem-s-remediation-detail__header .rem-s-page-header {
  display: flex;
}
.remediations .rem-s-remediation-detail__header .rem-s-page-header .ins-c-skeleton {
  margin-left: 15px;
  margin-left: 0.9375rem;
}
.remediations .ins-m-isInline {
  display: inline-block;
}
.remediations .ins-m-isInline-sm {
  width: 20px;
  margin-right: 3px;
}
.remediations .ins-m-isInline-md {
  width: 35px;
  margin-left: 10px;
}
.remediations .ins-m-inline-flex, .remediations .ins-m-flex-children dd {
  display: inline-flex;
}
.remediations .rem-c-success {
  color: var(--pf-global--success-color--100);
}
.remediations .rem-c-failure {
  color: var(--pf-global--danger-color--100);
}
.remediations .rem-c-running {
  color: var(--pf-global--default-color--300);
}
.remediations .rem-c-canceled {
  color: var(--pf-global--default-color--300);
}
.remediations .rem-c-connection-status {
  margin-right: var(--pf-global--spacer--xs);
}
.remediations .rem-c-connection-status-error {
  color: var(--pf-chart-global--danger--Color--100);
}
.remediations td .rem-c-status-text {
  display: inline-block;
  min-width: 85px;
}
.remediations .rem-c-description-list-latest-activity .rem-c-description-list__description {
  display: flex;
  align-items: center;
}
.remediations .rem-c-description-list-latest-activity .rem-c-description-list__description .rem-c-description-list-latest-activity__date {
  margin-left: 16px;
  margin-right: 16px;
}
.remediations .rem-c-card__playbook-log .ins-c-primary-toolbar {
  padding: 0;
}
.remediations .rem-c-card__playbook-log .pf-c-toolbar {
  padding-left: 0;
  padding-right: 0;
}
.remediations .rem-c-card__playbook-log .ins-c-tag-count {
  padding: 0;
}
.remediations .rem-c-card__playbook-log .pf-c-data-toolbar__content {
  padding: 0;
}
